/* color palette from <https://github.com/vuejs/theme> */
@tailwind base;
@tailwind components;
@tailwind utilities;


button {
    @apply inline-block px-2 py-1 m-1 bg-gray-50 text-sm font-medium text-gray-800 rounded border border-gray-200;
}

button:hover {
    @apply bg-gray-100 text-gray-900 border-gray-300;
}

button:focus {
    @apply outline-none z-10 ring-2 ring-gray-200
}

select {
    @apply inline-block bg-gray-50 border border-gray-300 text-gray-800 text-sm rounded block py-1 px-2 cursor-pointer;
}

select:hover {
    @apply bg-gray-100 border-gray-300 text-gray-900;
}

select:focus {
    @apply ring-blue-500 border-blue-500
}

input[type="text"] {
    @apply inline-block border border-gray-300 text-gray-900 text-sm rounded block py-1 px-2
}